<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">{{header}}</span></div>
         <div class="panel-body">
            <div class="formcontainer">
            	<div class="alert alert-success" role="alert" ng-if="successMsg">{{successMsg}}</div>
                <div class="alert alert-danger" role="alert" ng-if="errorMsg">{{errorMsg}}</div>
                <form name="searchForm" class="form-horizontal">                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="searchCode">{{searchLabel}}</label>
                            <div class="col-md-7">
                                <select name="repeatSelect" id="selectOutlets" ng-model="selectedOutlet"   ng-options="item.name for item in items" ng-change="search()" >
    							</select>
                            </div>
                        </div>
                    </div>
                </form>
			</div>
        </div>    
    </div>
      <div class="panel panel-default" ng-show="contacts">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Contacts </span></div>
        <div class="panel-body">
            <div>
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="orderByField='firstName'; reverseSort = !reverseSort">Contact Name</a></th>
                        <th><a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Contact Title</a></th>
                        <th>Outlet name</th>
                        <th><a href="" ng-click="orderByField='profile'; reverseSort = !reverseSort">Contact Profile</a></th>
                        <th width="100"></th>
                        <th width="100"></th>
                    </tr>
                    </thead>
                    <tfoot>
	                    <td colspan="10">	                        
	                        <div class="pull-right" >
	                            <ul class="pagination">
	                                <li ng-class="{disabled: currentPage == 0}">
	                                    <a href ng-click="prevPage()">« Prev</a>
	                                </li>
	                                
	                                <li ng-repeat="n in range(pagedContacts.length, currentPage, currentPage + gap) "
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
	                                
	                                <li ng-class="{disabled: currentPage == pagedContacts.length - 1}">
	                                    <a href ng-click="nextPage()">Next »</a>
	                                </li>
	                            </ul>
	                        </div>
	                    </td>
	                </tfoot>
                    <tbody>
                    <tr ng-repeat="item  in pagedContacts[currentPage] | filter: searchKeyword | orderBy:orderByField:reverseSort">
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.title}}</td>
                        <td>{{searchOutlet}}</td>
                        <td>{{item.profile}}</td>
                        <td><button type="button"  class="btn btn-success custom-width">Edit</button></td>
                        <td><button type="button"  class="btn btn-danger custom-width">Remove</button></td>
                    </tr>
                    </tbody>
                </table>     
            </div>
        </div>
    </div>
    
 </div>   